In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import random
import re

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [2]:
train_data = pd.read_csv('~/Documents/Datos/DataSets/TP2/train_featured.csv')
test_data = pd.read_csv('~/Documents/Datos/DataSets/TP2/test_featured.csv')
test_data['clean_text'].fillna("", inplace=True)

In [11]:
train_data.location_original.value_counts()

USA                           104
New York                       71
United States                  50
London                         45
Canada                         29
                             ...
West Vancouver, B.C.            1
?Gangsta OC / MV RP; 18+.?      1
Bolivar, MO                     1
Reading UK                      1
Photo : Blue Mountains          1
Name: location_original, Length: 3341, dtype: int64

In [19]:
location_dic = {}
for location in train_data.location_original:
    if (location != location): continue
    try:
        location_dic[location] += 1
    except KeyError:
        location_dic[location] = 1
    except TypeError:
        pass
location_dic

{'Birmingham': 4,
 'Est. September 2012 - Bristol': 1,
 'AFRICA': 1,
 'Philadelphia, PA': 4,
 'London, UK': 10,
 'Pretoria': 2,
 'World Wide!!': 1,
 'Paranaque City': 1,
 'Live On Webcam': 2,
 'milky way': 1,
 'GREENSBORO,NORTH CAROLINA': 1,
 'England.': 1,
 'Sheffield Township, Ohio': 1,
 'India': 24,
 'Barbados': 4,
 'Anaheim': 1,
 'Abuja': 1,
 'USA': 104,
 'South Africa': 8,
 'Sao Paulo, Brazil': 1,
 'hollywoodland ': 1,
 'Edmonton, Alberta - Treaty 6': 1,
 'Inang Pamantasan': 1,
 'Twitter Lockout in progress': 1,
 'Concord, CA': 1,
 'Calgary, AB': 5,
 'San Francisco': 14,
 'CLVLND': 1,
 'Nashville, TN': 9,
 'Santa Clara, CA': 1,
 'UK': 27,
 'St. Louis, MO': 3,
 'Walker County, Alabama': 1,
 'Australia': 18,
 'North Carolina': 5,
 'Norf Carolina': 1,
 'San Mateo County, CA': 1,
 'Njoro, Kenya': 1,
 "Your Sister's Bedroom": 1,
 'Arlington, TX': 3,
 'South Bloomfield, OH': 1,
 'New Hanover County, NC': 2,
 'Maldives': 2,
 'Manchester, NH': 2,
 'Wilmington, NC': 2,
 'global': 1,
 'Alberta | Sask. | Montana': 1,
 'Charlotte': 2,
 'Baton Rouge, LA': 2,
 'Hagerstown, MD': 1,
 'Gloucestershire , UK': 1,
 'Nairobi, Kenya': 3,
 'Instagram - @heyimginog ': 2,
 '304': 9,
 'Switzerland': 4,
 'US': 9,
 'Somewhere Only We Know ?': 2,
 'Belgium': 2,
 'dope show': 1,
 'Oshawa, Canada': 1,
 'Baker City Oregon': 1,
 'United States': 50,
 'marysville ca ': 1,
 'Hermosa Beach, CA': 1,
 '19.600858, -99.047821': 2,
 'Pennsylvania': 5,
 'Salt Lake City, Utah': 1,
 'Palo Alto, CA': 2,
 'Spain but Opa-Locka, FL': 1,
 'Jaipur, India': 1,
 'Hyderabad Telangana INDIA': 1,
 'Eagle Pass, Texas': 1,
 'bangalore': 1,
 'Financial News and Views': 3,
 'Indonesia': 13,
 'y(our) boyfriends legs ': 1,
 'New Mexico, USA': 1,
 'Somewhere Out There': 1,
 'Mumbai india': 1,
 'sri lanka': 1,
 'Not a U.S resident': 1,
 'Lehigh Valley, PA': 1,
 'Canada': 29,
 'Thrissur': 1,
 'Havenford': 1,
 '92': 1,
 'Israel': 2,
 'Fashion Heaven. IG: TMId_': 1,
 'San Francisco, CA': 11,
 'italy': 1,
 'nyc': 3,
 'Toronto': 12,
 'Jackson': 1,
 'New York / Worldwide': 1,
 'New Orleans, LA': 3,
 'West Wales': 1,
 'Happily Married with 2 kids ': 4,
 'Cambridge, MA': 1,
 'Arizona ': 2,
 'Mumbai': 22,
 'Amsterdam': 1,
 'Swindon,England ': 1,
 'Williamstown, VT': 1,
 'North Carolina, USA': 4,
 'Karachi': 3,
 'Loveland Colorado': 1,
 '|| c h i c a g o ||': 1,
 'L. A.': 1,
 'VISIT MY YOUTUBE CHANNEL.': 1,
 'Lexington': 1,
 'Hannover, Germany': 1,
 'Playa': 1,
 'Davidson, NC': 1,
 'Higher Places': 1,
 'Horsemind, MI': 1,
 'New York, NY': 15,
 'Boksburg': 1,
 'V-RP @OZRP_ ?MV, AU, R18+?': 1,
 'Greater Manchester, UK': 1,
 'Boston': 3,
 'The Canopy Kingdom': 1,
 'the own zone layer ': 1,
 'London': 45,
 'Trancy Manor': 1,
 'South 37': 1,
 'West Lancashire, UK.': 1,
 'PA': 3,
 '\x89Û¢ Views From The Six \x89Û¢': 1,
 'University of Toronto': 1,
 'Swaning Around': 2,
 'Albany/NY': 1,
 'California, USA': 15,
 'Wild Wild Web': 1,
 'Subconscious LA': 3,
 'Spain': 1,
 'CA physically- Boston Strong?': 2,
 'Yeezy Taught Me , NV': 1,
 'Rock Hill, SC': 2,
 'Coolidge, AZ': 1,
 'Republic of Texas': 4,
 'Phoenix, AZ': 4,
 'Ljubljana, Slovenia': 1,
 'Connecticut': 2,
 'Tacoma,Washington': 1,
 'BIG D  HOUSTON/BOSTON/DENVER': 1,
 'Chandler, AZ': 1,
 'ColoRADo': 1,
 'sindria': 1,
 'Texas': 10,
 'Elk Grove, CA, USA': 1,
 'The Shire': 1,
 'Austin, TX': 7,
 'Oakland': 2,
 'Albuquerque': 1,
 'Buenos Aires, Argentina': 2,
 'San Antonio-ish, TX': 1,
 'Oregon, USA': 3,
 'Harlingen, TX': 1,
 'Buffalo NY': 1,
 'Las Vegas': 3,
 'Tokyo': 4,
 'California, United States': 6,
 '#FLIGHTCITY UK  ': 3,
 'Alphen aan den Rijn, Holland': 1,
 'Wrigley Field': 1,
 'probably the strip club': 1,
 'England': 3,
 'New York City': 10,
 'Here And There': 1,
 'Rotterdam, Zuid-Holland': 1,
 'Derry, 17 ': 1,
 'Nowhere. Everywhere.': 3,
 'Florida, USA': 5,
 'Worldwide': 19,
 'East Coast': 3,
 'California': 17,
 'Toronto, ON': 1,
 'The Orwellion police-state': 1,
 'Castaic, CA': 1,
 'Helsinki, Finland': 1,
 'East Kilbride': 1,
 'middle eastern palace': 1,
 'Kent': 2,
 'Perthshire ': 1,
 'twitch.tv/naturalemblem26': 1,
 'cyprus': 1,
 'Memphis, TN': 7,
 'Studio': 1,
 'Hollywood, CA': 1,
 'New York': 71,
 'Pakistan': 5,
 'Mexico! ^_^': 1,
 'Campinas Sp': 1,
 'Harlem, New York': 1,
 'Washington, DC': 21,
 'Burbank,CA': 1,
 '? ': 2,
 'Spokane, Washington': 1,
 'Charlotte, NC': 6,
 'Our Empire State': 1,
 'Jerusalem': 2,
 'Kingston, Pennsylvania': 1,
 'Milwaukee, WI': 3,
 'Zero Branco': 1,
 'bajaur': 1,
 'Eldoret, kenya': 2,
 '\x89ÛÊ\x89ÛÊ\x89ÛÊ': 1,
 'Miami,FL': 1,
 'Los Angeles, CA': 26,
 'North-East Region, Singapore': 1,
 'Chicago': 11,
 'EARTH ': 1,
 'Jerusalem, Israel': 1,
 'Menasha, WI': 1,
 'ss': 10,
 'Atlanta': 6,
 'Earth': 11,
 'Bleak House': 1,
 'heccfidmss@gmail.com': 1,
 'toronto': 1,
 '[ Blonde Bi Fry. ]': 1,
 'America': 3,
 'NYC :) Ex- #Islamophobe': 3,
 'SF Bay Area': 2,
 'Orange County, California': 2,
 'Winston Salem, North Carolina': 1,
 'Adelaide, South Australia': 2,
 'WASHINGTON,DC': 1,
 ' snapchat // fvck_casper ': 1,
 'Dallas, TX': 9,
 'NYC': 12,
 'Location': 2,
 'Selena | Britney | Hilary': 1,
 'Ireland': 12,
 'Freeport IL. USA': 1,
 'Dubai': 2,
 'Tucson, Az': 1,
 'Seattle WA': 1,
 'Bellevue NE': 1,
 'West Bank, Gaza Strip': 1,
 '\x89Û¢FLG\x89Û¢': 1,
 'Scotland, United Kingdom': 2,
 'Online 24/7. Not even kidding.': 1,
 'rowyso dallas ': 1,
 'Halton, Ontario': 1,
 'portland, oregon': 1,
 'FIMAK A.S Ist Bolge Muduru': 1,
 'London.': 1,
 '#UNITE THE BLUE  ': 1,
 'Dayton, Ohio': 1,
 'Global': 6,
 'ph': 2,
 'Port Jervis, NY': 1,
 'City Of Joy': 1,
 'Texas, USA': 5,
 '1/3 of the blam squad ': 1,
 'CCH ': 1,
 'atx': 1,
 'MAURITIUS': 1,
 'AKRON OHIO USA': 1,
 'london / st catharines ?': 1,
 'Peshawar': 1,
 'LEALMAN, FLORIDA': 1,
 '#GDJB #ASOT': 1,
 'Groningen, Netherlands, Europe': 1,
 'Livingston, IL  U.S.A.': 1,
 'Arundel ': 1,
 'Anna Maria, FL': 1,
 'israel': 1,
 'The Hammock, FL, USA': 1,
 '??????????????????': 1,
 'SÌ£o Paulo SP,  Brasil': 1,
 "in Dimitri's arms": 1,
 'Oslo, Norway': 1,
 'Los Angeles': 13,
 'Loughton, Essex, UK': 1,
 'guaravitas': 1,
 'Score More Goals Buying @': 1,
 'NEW YORK': 1,
 'London, Kent & SE England.': 1,
 'Score Team Goals Buying @': 1,
 'South Central Wales': 1,
 'Jersey City, New Jersey': 1,
 'Denver, CO': 7,
 'Brasil': 5,
 'Buy Give Me My Money ': 3,
 '505 W. Maple, Suite 100': 1,
 'Philippines': 5,
 'Freeport il ': 1,
 'World': 9,
 'Danville, VA': 1,
 'UK Great Britain ': 1,
 'Jerusalem!': 1,
 'San Jose, CA': 5,
 'Use #TMW in tweets get #RT': 1,
 'Utah': 3,
 'Wisconsin': 5,
 'West Richland, WA': 1,
 'CHICAGO (312)': 1,
 'Washington D.C.': 3,
 'NC': 2,
 'West Virginia, USA': 2,
 'British girl in Texas': 1,
 'Silver Spring, MD': 2,
 'Atlanta, GA': 10,
 'Manhattan, NY': 3,
 'Wilmington, DE': 1,
 'Memphis': 3,
 'iTunes': 3,
 'Oxford, MS': 1,
 'Pelham, AL': 1,
 'Jacksonville, FL': 1,
 'Arkansas, Jonesboro': 1,
 'Across the Atlantic': 1,
 'Melbourne, Florida': 1,
 'Over the Moon...': 1,
 'Extraterrestrial Highway': 1,
 'Espoo, Finland': 1,
 'Washington, D.C., area': 1,
 'OES 4th Point. sisSTAR & TI': 1,
 'Sydney, New South Wales': 4,
 'Netherlands,Amsterdam-Virtual ': 1,
 'Hudson Valley, NY': 1,
 'timeline kamu': 1,
 'Budapest, Hungary': 2,
 'Searching for Bae ': 1,
 'Eagle Mountain, Texas ': 1,
 'Columbus': 2,
 'Temecula, CA': 1,
 'Atlanta,Ga': 1,
 'Fresno, CA': 2,
 'Raleigh Durham, NC': 1,
 'ducked off . . . ': 1,
 'Rio de Janeiro': 3,
 '302': 2,
 'Columbus, OH': 3,
 'Mo.City': 2,
 'Tripsburg, ms.': 1,
 'Durham N.C ': 1,
 'Delhi': 1,
 'ARIZONA': 1,
 'Penn Hills, PA': 1,
 'Karachi ': 1,
 'seattle wa': 1,
 'SOUTHERN CALIFORNIA DESERT': 1,
 'Gotham City': 3,
 'My contac 27B80F7E 08170156520': 1,
 'Pig Symbol, Alabama': 1,
 'Intramuros, Manila': 1,
 'THE WORLD T.G.G / M.M.M ': 1,
 'Between the worlds ': 1,
 'State of Georgia': 1,
 'Your screen': 2,
 'Lima-Peru': 1,
 'worldwide': 7,
 'Saltillo, Coahuila de Zaragoza': 1,
 'Suitland': 1,
 'Everywhere': 15,
 'Konoha': 1,
 'Swag Francisco': 1,
 'Saint Marys, GA': 1,
 'Nigeria': 28,
 'Essex/Brighton': 1,
 'Pennsylvania, PA': 1,
 'Rockford, IL': 1,
 'AZ': 1,
 'Vero Beach , FL': 1,
 'IN': 1,
 'In the middle of no where': 1,
 'Baltimore, MD': 3,
 'dmv ?? fashion school @ KSU. ': 1,
 'Nice places ': 1,
 'Quantico, VA': 1,
 'Island Lake, IL': 1,
 'Live Oak, TX': 1,
 'Gages Lake, IL': 1,
 'Madisonville TN': 1,
 'Basketball City, USA ': 1,
 'AEP': 1,
 'Alberta Pack': 1,
 '#expelcl*y': 1,
 'My heart is a ghost town!': 1,
 'The Great State of Texas': 1,
 'Alicante, Valencia': 1,
 'Greensboro, NC': 1,
 ' Indiana': 1,
 'the local dump': 1,
 'Seattle': 11,
 '#SOUTHAMPTON ENGLAND': 1,
 '?205?478?': 1,
 'Waterford MI': 1,
 'Iowa, USA': 1,
 'va': 2,
 'Florida': 14,
 'california mermaid ? ': 1,
 'New York ? ATL': 1,
 'USA/SO FLORIDA via BROOKLYN NY': 1,
 'H / pez & sophia ': 1,
 'Brooklyn, NY': 6,
 'Queens, NY': 1,
 'Vancouver, BC.': 1,
 'Ottawa, Canada': 2,
 'wherever the $$$ at': 1,
 'Purgatory, USA': 1,
 'Calgary, Alberta': 6,
 'Kama | 18 | France ': 3,
 'Sydney': 7,
 'Maryland, USA': 1,
 'Daruka (near Tamworth) NSW': 1,
 'IJmuiden, The Netherlands': 1,
 'University Heights, Ohio': 1,
 'Central Illinois': 1,
 'Baton Rouge': 1,
 'PSN: Pipbois ': 1,
 'Colombo,Sri Lanka.': 1,
 'Johannesburg, South Africa ': 1,
 "Me mammy's belly": 1,
 'UK & Ibiza': 1,
 'Laventillemoorings ': 1,
 'Scotland': 8,
 'Vancouver, BC': 5,
 'Cleveland, OH': 5,
 'Detroit, MI, United States': 1,
 'Guelph Ontario Canada': 1,
 'Waterfront': 1,
 'columbus ohio': 1,
 'Waukesha, WI': 1,
 'Himalayan Mountains': 1,
 'Colorado/WorldWide': 1,
 'Ontario Canada': 2,
 'Houston,  TX': 1,
 'lakewood colorado': 1,
 'THE 6IX': 1,
 'Washington, USA': 2,
 'The ?? below ???': 1,
 'Ideally under a big tree': 1,
 "Conversing In Janet's CafÌ¬": 1,
 "???????, ??'??????": 1,
 "Dime's Palace": 2,
 'Cairo, Egypt': 1,
 'Seattle, WA': 7,
 'Bug Forest': 1,
 'canberra': 1,
 'International': 1,
 'The World': 1,
 'Htx': 1,
 'PunPunlÌ¢ndia': 1,
 '???': 3,
 'Itirapina, SÌ£o Paulo': 1,
 'North Jersey': 1,
 'Ewa Beach, HI': 2,
 'Biloxi, Mississippi': 1,
 'Buenos Aires': 2,
 'Brecksville, OH': 1,
 'Walthamstow, London': 1,
 'Malaysia': 3,
 'Ivano-Frankivsk': 1,
 'Sunshine Coast, Queensland': 1,
 'England,UK,Europe,Sol 3.': 1,
 'Nashua NH': 1,
 'Leicester': 4,
 '65': 1,
 'Westchester': 1,
 'Lynnfield, MA': 1,
 'Level 3 Garrison, Sector G': 1,
 'Singapore': 6,
 'Glasgow': 3,
 'Shity land of Northern Ireland': 1,
 'Christchurch New Zealand': 1,
 'peekskill. new york, 10566 ': 1,
 'PH': 1,
 'Storybrooke ': 1,
 'under the blanket': 1,
 'Isolated City In World Perth': 1,
 'Brazil ': 1,
 'AUS': 1,
 'Santa Cruz, CA': 2,
 'Inverness, Nova Scotia': 1,
 'L/S/Z/L/T/H/C/H/R/A/S/C': 1,
 'Oklahoma': 1,
 '801 SL,UT': 1,
 'fluffy cloud': 1,
 'The 5th Dimension. ': 1,
 'Georgia': 3,
 'July 11th, 2015. ?': 1,
 'The Grey Area': 1,
 'St Paul, MN': 2,
 'Cobblestone': 1,
 'ÌÏT: 30.307558,-81.403118': 1,
 'Cosmic Oneness': 1,
 'Guildford, UK': 1,
 'Nowhere Islands/Smash Manor': 1,
 'kisumu': 1,
 'Making Worldwide Change Near U': 1,
 'ATX': 1,
 'LA/OC/Vegas': 1,
 'London/Outlaw Country ': 1,
 'Grimsby, England': 1,
 'Gotham': 1,
 'Manchester, The World, England': 1,
 'sitting on Eddie Vedders lap,': 1,
 'Missouri, USA': 1,
 'Greenville,SC': 1,
 'Paignton': 4,
 'have car; will travel': 1,
 'ATL ? SEA ': 1,
 'ÌÏT: 39.982988,-75.261624': 1,
 '#EngleWood CHICAGO ': 1,
 '302???? 815': 1,
 'New Your': 1,
 'PURPLE BOOTH STUDIO\x89ã¢': 1,
 'Cloud 9': 1,
 'Former Yugoslav Republic of Macedonia': 1,
 '3?3?7?SLOPelousas??2?2?5?': 1,
 '316': 1,
 "#WhereverI'mAt": 1,
 'Huber Heights, OH': 1,
 'Miami ??': 1,
 'Houston, TX': 8,
 'Every where': 1,
 "401 livin'": 1,
 'MI': 1,
 'EPTX': 1,
 'Austin, Texas': 3,
 'Oklahoma City': 3,
 'CA': 3,
 'United Kingdom': 14,
 'WESTSIDE OF PHILLY 7? BLOCK??': 1,
 'Charlotte NC': 2,
 'LONG ISLAND, NY': 1,
 'washington, d.c.': 1,
 'WAISTDEEP, TX': 1,
 'D.C. - Baltimore - Annapolis': 1,
 '#937??#734': 1,
 'Fife, WA': 1,
 'Bushkill pa': 1,
 'In the Shadows...': 1,
 'southwest, Tx': 1,
 'ANYWEHERE !!': 1,
 'Menlo Park. SFO. The World.': 1,
 'Speaking the Truth in Love': 1,
 'Aarhus, Central Jutland': 1,
 'Lincoln, NE': 2,
 'wny': 1,
 'Bolton & Tewkesbury, UK': 1,
 "travelling to tae's pants": 1,
 'keli x': 1,
 'Manchester': 9,
 'Knoxville, TN': 2,
 'ChicagoRObotz': 1,
 "whs '17": 1,
 'NV': 1,
 'lagos nigeria': 1,
 'Edmonton, Alberta': 1,
 '[Gia.] | #KardashianEmpire': 1,
 'Sunrise Manor, NV': 1,
 'Oxford, OH': 1,
 'Odawara, Japan': 2,
 'Chicago, IL': 18,
 'Des Moines, IA': 3,
 'Dundas, Ontario': 1,
 'IDN': 1,
 'Netherlands': 1,
 'DaKounty, Pa': 1,
 'DÌ_sseldorf, Germany': 1,
 'Old Blighty': 1,
 '??': 4,
 'The land of New Jersey. ': 1,
 'Atlanta Georgia': 1,
 'MY RTs ARE NOT ENDORSEMENTS': 1,
 'Kabul, Tuebingen, Innsbruck': 1,
 'Light and dark, form and void': 1,
 'Nairobi, Kenya ': 1,
 'Erbil': 1,
 'Stockton on tees Teesside UK': 1,
 'Screwston, TX': 1,
 'My old New England home': 1,
 'melbourne': 1,
 'Cape Town': 4,
 'Ikeja, Nigeria': 1,
 'Warwick, RI @Dollarocracy also': 1,
 'texas a&m university': 1,
 'MA': 3,
 'Shipwreck Cove': 1,
 'Sydney, Australia': 4,
 'WorldWide': 5,
 'Overland Park, KS': 1,
 'SWMO': 2,
 'Puerto Rico': 5,
 'Toronto-Citizen of Canada & US': 1,
 'Silicon Valley': 2,
 'North East USA': 1,
 'Washington, D.C.': 13,
 'VitÌ_ria (ES)': 1,
 'New Delhi, Delhi': 2,
 'Buscame EL tu Melte': 1,
 'Wiltshire': 1,
 'PROUD INDIANS': 1,
 'Mumbai , India': 2,
 'Pittsburgh PA': 1,
 'MUM-DEL': 1,
 'Leeds, England': 5,
 'Playa del Carmen, Mexico': 1,
 'NY, CT & Greece': 1,
 'Mackay, QLD, Australia': 2,
 'Quincy MA': 1,
 'NJ': 3,
 'Madison, GA': 2,
 'KurveZ@GearHeadCentral.net': 1,
 'St Charles, MD': 2,
 'Denver, Colorado': 9,
 'Ziam af ': 1,
 'GO BLUE! HAIL YES!!': 1,
 'Outside The Matrix, I Think.': 1,
 'In Hell': 2,
 'Epic City, BB.': 2,
 'somewhere over a rainbow': 1,
 'Selma2Oakland': 2,
 'Bombardment Bay': 1,
 'Savannah, GA': 1,
 'dallas': 2,
 'New Orleans ,Louisiana': 3,
 'England, United Kingdom': 2,
 'Dublin City, Ireland': 2,
 'New Hampshire': 5,
 'World Wide': 3,
 'Intermountain West': 1,
 'Tulsa, Oklahoma': 3,
 'Auburn, AL': 1,
 'taken by piper curda': 1,
 'Scotland ': 1,
 'Nigeria, Global': 1,
 'Fort Walton Beach, Fl': 1,
 'Sweden': 3,
 'Groton, CT': 1,
 'Brisbane Australia': 1,
 'NY Capital District': 1,
 'Peoria': 1,
 'Reading UK': 1,
 'Concord, NH ': 1,
 'CORNFIELDS': 1,
 'Worcester, MA': 1,
 'Roanoke, VA': 2,
 'nj': 1,
 'MA via PA': 1,
 'Boston, MA': 5,
 'Oklahoma City, OK': 6,
 'toronto \x89Û¢ dallas': 1,
 'San Diego CA': 1,
 'germany': 1,
 'Massachusetts': 6,
 ' Nxgerxa': 1,
 'Erie, PA': 2,
 'Port Charlotte, FL': 1,
 'Belleville, Illinois': 1,
 'Alabama': 2,
 'Long Island NY & San Francisco': 1,
 'Gainesville, FL': 2,
 'Oakland, CA': 4,
 '956': 1,
 'Escondido, CA': 1,
 'DC': 2,
 'Chicago Area': 1,
 'Upper St Clair, PA': 1,
 'Cherry Creek Denver CO': 2,
 '627': 1,
 'Blogland': 1,
 'mumbai': 2,
 'Isle of Man': 1,
 'Hampton Roads, VA': 1,
 'Gameday': 1,
 'Earthling (For now!)': 1,
 'Black Canyon New River, AZ': 1,
 'Caracas, Venezuela.': 1,
 'NY': 5,
 'Charlottetown': 1,
 'Paradise, NV': 1,
 '??t?a': 1,
 'LiÌ¬ge': 1,
 'Spokane, Washington 99206': 1,
 'taco bell': 1,
 'Australian Capital Territory': 1,
 'http://www.amazon.com/dp/B00HR': 2,
 '[ kate + they/them + infp-t ]': 1,
 'Sacramento, CA': 10,
 'please H? ?:??': 1,
 'we?it \x89Û¢ ixwin': 1,
 'Santiago Bernabeau': 1,
 'y/e/l': 1,
 'Whiterun, Skyrim': 1,
 'Greenpoint, Brooklyn': 1,
 'Victoria, British Columbia': 3,
 'a botanical garden probably': 1,
 'Nelspruit, South Africa': 1,
 'midwest': 1,
 'Copenhagen, Capital Region of Denmark': 1,
 'Spying on your thoughts': 1,
 'seattle grace mercy death': 1,
 'Tucson, Arizona ': 1,
 'Charlotte County Florida': 1,
 'Head Office: United Kingdom': 1,
 'Mid north coast of NSW': 1,
 'iPhone: -27.499212,153.011072': 1,
 'Queen Creek AZ': 1,
 'Jamaica': 4,
 'Trinidad and Tobago': 2,
 'Melbourne Australia': 2,
 'The Internet & NYC': 1,
 'London/Bristol/Guildford': 1,
 'Canberra, Australian Capital Territory': 1,
 'beacon hills ': 1,
 'somewhere outside': 1,
 'Wolmers Trust School for Boys ': 1,
 'Loughborough.': 1,
 'Selangor': 1,
 'indiana': 1,
 'Bronx, New York': 1,
 'Canadian bread': 1,
 "Le Moyne '16": 1,
 'Hoxton, London': 1,
 'Las Vegas, NV USA': 1,
 'Heinz Field ': 1,
 'Skyport de la Rosa': 1,
 'The Low-Cal Calzone Zone': 1,
 'Brooklyn, New York': 1,
 '50% Queanbeyan - 50% Sydney': 1,
 'Insula Barataria': 1,
 'everywhere ': 1,
 'Afghanistan, USA': 1,
 'Inglewood, CA': 1,
 'Absecon, NJ': 1,
 'Williamsbridge, Bronx, New Yor': 1,
 'Northern Kentucky, USA': 1,
 'Mostly Yuin.': 1,
 'Nairobi': 3,
 'Rochelle, GA': 1,
 'London UK': 3,
 'south of heaven ': 1,
 'El Dorado, KS': 1,
 'Santa Monica, CA': 1,
 'Kenya': 20,
 '1648 Queen St. West, Toronto.': 1,
 'Toledo, OH': 1,
 'Fairfield, California': 1,
 'Trinity, Bailiwick of Jersey': 1,
 'Virginia': 3,
 'LIVERPOOL': 1,
 'Boulder, CO': 1,
 'Hospital, bc of SKH vid.': 1,
 'Hartford  London Hong Kong': 1,
 "In @4SkinChan 's arms": 1,
 'Massachusetts, USA': 4,
 'Kansas City, MO': 3,
 'Wellington, New Zealand': 1,
 '?? ??': 1,
 'los angeles, ca': 2,
 'New Brunswick, NJ': 1,
 'City of Angels, CA': 1,
 'Morganville, Texas.': 1,
 'America | New Zealand ': 1,
 'Stockholm, Sweden': 3,
 'Azeroth': 1,
 "Lytham St Anne's ": 1,
 'Ylisse': 1,
 'Portugal': 2,
 'All around the world baby': 1,
 '@UntmdOutdoors #T.O.R.K ': 1,
 'Lima, PerÌ¼': 1,
 'Piedmont Area, North Carolina': 1,
 'Buxton, Venice, and Nottingham': 1,
 'Quito, Ecuador.': 1,
 'Inexpressible Island ': 3,
 ' Bouvet Island': 1,
 'Shirley, NY': 1,
 'Planet Earth': 6,
 'Paonia, Colorado ': 1,
 'Portland, OR': 6,
 'Dublin, Ireland': 3,
 'Lurking': 1,
 'N?? Y???.': 1,
 'Littleton, CO, USA': 1,
 'Virginia, United States': 1,
 'Center for Domestic Preparedness': 1,
 'Ukraine and Ireland': 1,
 'Welt': 1,
 'Wales': 2,
 'Seattle, Washington': 4,
 'Beaumont, TX': 1,
 'Annapolis, MD': 1,
 'Las Vegas, Nevada': 4,
 'Harris County, Texas': 1,
 'Tyler, TX': 1,
 'Evanston, IL': 2,
 'North Ferriby, East Yorkshire': 1,
 'Colombia': 2,
 'Ames, Iowa': 1,
 'Moscow, Russia': 1,
 'Jersey City, NJ': 1,
 'Mankato, MN': 1,
 'Orbost, Victoria, Australia': 1,
 ' Somewhere.': 1,
 ' Neverland ': 1,
 'London, England': 10,
 'At Da Laundry Mat Wit Nivea ': 1,
 'norway': 1,
 '$ad $hawty': 1,
 'NY || live easy? ': 1,
 'BestCoast': 1,
 'BC': 1,
 'Abuja, Nigeria': 1,
 'Colchester Essex ': 1,
 'livin life in the 610': 1,
 'Suplex City': 2,
 'Inside your mind.': 1,
 '36 & 38': 1,
 'Sydney Australia': 2,
 'Lagos, Nigeria': 5,
 'New York, NY ': 1,
 'Slappin and Smackin ': 1,
 "DRAW A CIRCLE THAT'S THE EARTH": 1,
 'Madrid, Comunidad de Madrid': 1,
 'The Netherlands': 5,
 'Highland Park, CA': 1,
 'Swan River': 1,
 'Kolkata, India': 1,
 'Melrose': 1,
 'Jubail IC, Saudi Arabia': 1,
 'Sugarhouse, UT': 1,
 'lugo': 1,
 'Chicago, Illinois': 2,
 'Blackpool, England, UK.': 1,
 'San Jose, California': 2,
 'Fakefams': 1,
 'In the clouds...': 1,
 'Sandton, South Africa': 1,
 'Nigeria ': 4,
 '#Bummerville otw': 1,
 'Europe': 2,
 'Brighton and Hove': 1,
 'Pompano Beach, FL': 1,
 'JKT48-Muse-A7X': 1,
 'Behind The Obama Curtain': 1,
 'Worldwide.': 1,
 'LiVE MÌ\x81S': 1,
 'Henderson, NV': 1,
 'CAMARILLO, CA': 1,
 'manchester, uk.': 1,
 'Eugene, Oregon': 1,
 'they/her': 1,
 'Paris ': 1,
 '(he/him)': 1,
 'Kingston, Jamaica': 2,
 'Spokane, WA': 2,
 "I'm standing behind you": 1,
 'Alexandria, Egypt.': 1,
 'instagram- Chloe_Bellx': 1,
 'on the web': 1,
 'San Francisco Bay Area': 4,
 '#ForeverWithBAP 8 ': 1,
 'GOT7SupportPH': 1,
 'wherever-the-fuck washington': 1,
 'From NY. In Scranton, PA': 1,
 'Perth, Western Australia': 2,
 'Live mÌÁs': 1,
 'Melton, GA': 1,
 "Greg's place": 1,
 'Viejo': 1,
 'Kansas, The Free State! ~ KC': 1,
 'Silang, Cavite / ParaÌ±aque': 1,
 'Fort Smith, AR': 1,
 'planeta H2o': 1,
 'www.youtube.com?Malkavius2': 1,
 'Michigan': 4,
 'The Forever Girl': 1,
 'EspÌ_rito Santo': 1,
 'New York, USA': 5,
 'Ormond By The Sea, FL': 1,
 'Maryland,Baltimore': 1,
 'Pennsylvania, USA': 7,

In [20]:
location_dic = {k: v for k, v in sorted(location_dic.items(), key=lambda item: item[1], reverse=True)}
location_dic = {k: v for k, v in location_dic.items() if v >= 10}
location_dic

{'USA': 104,
 'New York': 71,
 'United States': 50,
 'London': 45,
 'Canada': 29,
 'Nigeria': 28,
 'UK': 27,
 'Los Angeles, CA': 26,
 'India': 24,
 'Mumbai': 22,
 'Washington, DC': 21,
 'Kenya': 20,
 'Worldwide': 19,
 'Australia': 18,
 'Chicago, IL': 18,
 'California': 17,
 'New York, NY': 15,
 'California, USA': 15,
 'Everywhere': 15,
 'San Francisco': 14,
 'Florida': 14,
 'United Kingdom': 14,
 'Indonesia': 13,
 'Los Angeles': 13,
 'Washington, D.C.': 13,
 'Toronto': 12,
 'NYC': 12,
 'Ireland': 12,
 'San Francisco, CA': 11,
 'Chicago': 11,
 'Earth': 11,
 'Seattle': 11,
 'London, UK': 10,
 'Texas': 10,
 'New York City': 10,
 'ss': 10,
 'Atlanta, GA': 10,
 'Sacramento, CA': 10,
 'London, England': 10}

In [22]:
for x in location_dic.keys():
    train_data[x] = 0
    test_data[x] = 0

In [23]:
def one_hot_hashtags(row):
    loc = row['location_original']
    try:
        if loc in row:
            row[loc] = 1
    except AttributeError:
        pass
    return row

In [24]:
train_data = train_data.apply(one_hot_hashtags, axis=1)
train_data.head()

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,...,Chicago,Earth,Seattle,"London, UK",Texas,New York City,ss,"Atlanta, GA","Sacramento, CA","London, England"
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1,1,#earthquake,NaN,1,0,...,0,0,0,0,0,0,0,0,0,0
1,4,NaN,NaN,forest fire near la ronge sask canada,1,1,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,NaN,NaN,all residents asked to shelter in place are be...,1,3,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,NaN,NaN,people receive wildfires evacuation orders in ...,1,2,#wildfires,NaN,1,0,...,0,0,0,0,0,0,0,0,0,0
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1,2,#alaska #wildfires,NaN,2,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
test_data = test_data.apply(one_hot_hashtags, axis=1)
test_data.head()

,id_original,keyword_original,location_original,text_original,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,...,Chicago,Earth,Seattle,"London, UK",Texas,New York City,ss,"Atlanta, GA","Sacramento, CA","London, England"
0,0,NaN,NaN,just happened terrible car crash,0,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,NaN,NaN,heard about earthquake is different cities sta...,3,#earthquake,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,NaN,NaN,there is forest fire at spot pond geese are f...,2,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,NaN,NaN,apocalypse lighting spokane wildfires,3,#spokane #wildfires,NaN,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,NaN,NaN,typhoon soudelor kills in china and taiwan,0,NaN,NaN,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text  import TfidfVectorizer
from sklearn.metrics import accuracy_score
import xgboost as xgb
from sklearn.preprocessing import OneHotEncoder

In [27]:
train, train_test = train_test_split(train_data, test_size=0.5)

In [28]:
text_clf = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('clf', MultinomialNB()),
                    ])

In [29]:
text_clf = text_clf.fit(train.clean_text, train.target_label)

In [30]:
train_predicted = text_clf.predict(train_test.clean_text)
train_predicted_proba = text_clf.predict_proba(train_test.clean_text)
np.mean(train_predicted == train_test.target_label)

0.7938008930916732

In [31]:
test_predicted = text_clf.predict(test_data.clean_text)
test_predicted_proba = text_clf.predict_proba(test_data.clean_text)

In [32]:
train_test['NB_target_proba_not'] = train_predicted_proba.T[0]
test_data['NB_target_proba_not'] = test_predicted_proba.T[0]

In [33]:
text_clf_svm = Pipeline([('vect', CountVectorizer()),
                         ('tfidf', TfidfTransformer()),
                         ('clf-svm', SGDClassifier(loss='log', penalty='l2',
                                                   alpha=1e-3, random_state=42)),
                        ])

In [34]:
text_clf_svm = text_clf_svm.fit(train.clean_text, train.target_label)

In [35]:
train_predicted = text_clf_svm.predict(train_test.clean_text)
train_predicted_proba = text_clf_svm.predict_proba(train_test.clean_text)
np.mean(train_predicted == train_test.target_label)

0.774100341476228

In [36]:
test_predicted = text_clf_svm.predict(test_data.clean_text)
test_predicted_proba = text_clf_svm.predict_proba(test_data.clean_text)

In [37]:
train_test['SVM_target_proba_not'] = train_predicted_proba.T[0]
test_data['SVM_target_proba_not'] = test_predicted_proba.T[0]

In [38]:
train_test.drop(["id_original","keyword_original","location_original","text_original","hashtags","labels","clean_text"], axis=1, inplace=True)
real_test_data = test_data.drop(["id_original","keyword_original","location_original","text_original","hashtags","labels","clean_text"], axis=1)

In [39]:
train, test = train_test_split(train_test, test_size=0.2)

In [40]:
model_xgb = xgb.XGBClassifier(n_estimators=300, colsample_bytree=0.5, learning_rate=0.1, max_depth=11)
model_xgb.fit(train.drop(['target_label'], axis=1), train.target_label)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=11,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=300, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [41]:
test_prediction = model_xgb.predict(test.drop(['target_label'], axis=1))
print("Accuracy score: %f" % (accuracy_score(test.target_label, test_prediction)))

Accuracy score: 0.787402

In [42]:
pd.DataFrame(model_xgb.feature_importances_, index=train.drop(['target_label'], axis=1).columns, columns=["importancia"]).\
        sort_values(by="importancia",ascending=False)

                              importancia
SVM_target_proba_not                 0.18
NB_target_proba_not                  0.09
links_count                          0.08
labels_count                         0.06
Florida                              0.06
mean_word_length                     0.06
text_length                          0.05
vowels_count                         0.05
special_chars_count                  0.05
num_chars_count                      0.05
short_words_count                    0.05
words_count                          0.04
hashtags_count                       0.04
UK                                   0.04
stopwords_count                      0.04
New York                             0.03
London                               0.02
Kenya                                0.01
USA                                  0.01
Earth                                0.00
NYC                                  0.00
Ireland                              0.00
San Francisco, CA                    0.00
Chicago                              0.00
Texas                                0.00
Seattle                              0.00
London, UK                           0.00
Washington, D.C.                     0.00
New York City                        0.00
ss                                   0.00
Atlanta, GA                          0.00
Sacramento, CA                       0.00
London, England                      0.00
Toronto                              0.00
San Francisco                        0.00
Los Angeles                          0.00
Washington, DC                       0.00
United States                        0.00
Canada                               0.00
Nigeria                              0.00
Los Angeles, CA                      0.00
India                                0.00
Mumbai                               0.00
Worldwide                            0.00
Indonesia                            0.00
Australia                            0.00
Chicago, IL                          0.00
New York, NY                         0.00
California, USA                      0.00
Everywhere                           0.00
United Kingdom                       0.00
California                           0.00

In [26]:
model_xgb = xgb.XGBClassifier(n_estimators=300, colsample_bytree=0.5, learning_rate=0.1, max_depth=11)
model_xgb.fit(train_test.drop(['target_label'], axis=1), train_test.target_label)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.1, max_delta_step=0, max_depth=11,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=300, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [ ]:
real_test_prediction = model_xgb.predict(real_test_data)
test_data['target'] = real_test_prediction
test_data[['id_original', 'target']].rename(columns={'id_original': 'id'}).to_csv('~/Documents/Datos/DataSets/TP2/res_XGB_1.csv', index=False)