In [45]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix, classification_report
import re
import nltk
from nltk.tokenize import TweetTokenizer
import string
import unidecode

import warnings
warnings.filterwarnings('ignore')

stopwords = nltk.corpus.stopwords.words('english')

In [2]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [3]:
def concatenate(x,char):
    words = ""
    for word in x:
        if word.startswith(char):
            words = words + word + " "
    return words

def count_vowels(x):
    return (x.count('a') + x.count('e') + x.count('i') + x.count('o') + x.count('u'))

def count_short_words(x):
    count = 0
    words = x.split(' ')
    for word in words:
        if 1 <= len(word) <= 3:
            count += 1
    return count

def count_stopwords(x):
    count = 0
    words = x.split(' ')
    for word in words:
        if word in stopwords:
            count += 1
    return count

In [4]:
def remove_punctuation(word):        
    clean_word = ''.join([char for char in word if char not in string.punctuation])
    return clean_word

def cleaning_text(text):
    tokenizer = TweetTokenizer(strip_handles=True, reduce_len=True)
    text_tokenize = tokenizer.tokenize(text)
    wordlist = []
    for word in text_tokenize:
        word = word.lower()
        word = re.sub('(?P<url>https?://[^\s]+)', ' ', word)
        word = remove_punctuation(word)
        word = re.sub(r'[^\w]', ' ', word)
        word = unidecode.unidecode(word)
        word = re.sub(r'[0-9]','', word)
        if((word != '')&(word != ' ')&(word not in stopwords)):
            wordlist.append(word)
    clean_text = ' '.join(wordlist)
    return clean_text

In [5]:
train["special_chars_count"] =  train["text"]
train["special_chars_count"] =  train["special_chars_count"].str.lower()
train["special_chars_count"] = train["special_chars_count"].apply(lambda x: re.sub(r'[a-z]','',x))
train["special_chars_count"] = train["special_chars_count"].str.strip()
train["special_chars_count"] = train["special_chars_count"].apply(lambda x: re.sub(' +','', x))
train["special_chars_count"] = train["special_chars_count"].apply(lambda x: re.sub(r'[0-9]','', x))
train["special_chars_count"] = train["special_chars_count"].str.len()

train["hashtags"] = train["text"].str.lower().str.split(' ').apply(lambda x: concatenate(x,'#'))
train["labels"] = train["text"].str.lower().str.split(' ').apply(lambda x: concatenate(x,'@'))
train["hashtags_count"] = train["hashtags"].str.split(' ').apply(lambda x: len(x))-1
train["labels_count"] = train["labels"].str.split(' ').apply(lambda x: len(x))-1

train["num_chars_count"] = train["text"]
train["num_chars_count"] =  train["num_chars_count"].str.lower()
train["num_chars_count"] = train["num_chars_count"].apply(lambda x: re.sub(r'[a-z]','',x))
train["num_chars_count"] = train["num_chars_count"].apply(lambda x: re.sub(r'[^\w]','',x))
train["num_chars_count"] = train["num_chars_count"].str.strip()
train["num_chars_count"] = train["num_chars_count"].str.len()

train["links_count"] = train['text'].apply(lambda x: len([w for w in str(x).lower().split()
                                                           if 'http' in w or 'https' in w]))

train["clean_text"] = train["text"].apply(lambda x: cleaning_text(x))

train["text"] = train["text"].str.lower()
train["text"] = train["text"].apply(lambda x: re.sub('(?P<url>https?://[^\s]+)', ' ', x))
train["text"] = train["text"].apply(lambda x: re.sub(r'[^\w]', ' ', x))
train["text"] = train["text"].apply(lambda x: re.sub(r'_', ' ', x))
train["text"] = train["text"].apply(lambda x: re.sub(r'[0-9]',' ', x))
train["text"] = train["text"].apply(lambda x: re.sub(' +',' ', x))
train["text"] = train["text"].apply(lambda x: unidecode.unidecode(x))
train["text"] = train["text"].str.strip()
train["text_length"] = train["text"].str.len()

train["mean_word_length"] = train['text'].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
train["vowels_count"] = train["text"].apply(lambda x: count_vowels(x))
train["short_words_count"] = train["text"].apply(lambda x: count_short_words(x))
train["stopwords_count"] = train["text"].apply(lambda x: count_stopwords(x))
train["text"] = train["text"].apply(lambda x: re.sub(r'\b\w{1}\b', '', x))
train["words_count"] = train["text"].str.split(' ').apply(lambda x: len(x))

train["keyword"] = train["keyword"].str.replace('%20',' ')
train["keyword"] = train["keyword"].astype('category')

train.rename(columns={"target":"target_label"}, inplace=True)
train.rename(columns={"location":"location_original"}, inplace=True)
train.rename(columns={"id":"id_original"}, inplace=True)
train.rename(columns={"text":"text_original"}, inplace=True)
train.rename(columns={"keyword":"keyword_original"}, inplace=True)

train.head()

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1,1,#earthquake,,1,0,0,0,deeds reason earthquake may allah forgive us,68,4.307692,25,7,6,13
1,4,NaN,NaN,forest fire near la ronge sask canada,1,1,,,0,0,0,0,forest fire near la ronge sask canada,37,4.428571,13,1,0,7
2,5,NaN,NaN,all residents asked to shelter in place are be...,1,3,,,0,0,0,0,residents asked shelter place notified officer...,130,4.954545,45,9,11,22
3,6,NaN,NaN,people receive wildfires evacuation orders in ...,1,2,#wildfires,,1,0,5,0,people receive wildfires evacuation orders cal...,56,7.142857,24,1,1,7
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1,2,#alaska #wildfires,,2,0,0,0,got sent photo ruby alaska smoke wildfires pou...,85,4.375000,25,3,7,16

In [6]:
test["special_chars_count"] =  test["text"]
test["special_chars_count"] =  test["special_chars_count"].str.lower()
test["special_chars_count"] = test["special_chars_count"].apply(lambda x: re.sub(r'[a-z]','',x))
test["special_chars_count"] = test["special_chars_count"].str.strip()
test["special_chars_count"] = test["special_chars_count"].apply(lambda x: re.sub(' +','', x))
test["special_chars_count"] = test["special_chars_count"].apply(lambda x: re.sub(r'[0-9]','', x))
test["special_chars_count"] = test["special_chars_count"].str.len()

test["hashtags"] = test["text"].str.lower().str.split(' ').apply(lambda x: concatenate(x,'#'))
test["labels"] = test["text"].str.lower().str.split(' ').apply(lambda x: concatenate(x,'@'))
test["hashtags_count"] = test["hashtags"].str.split(' ').apply(lambda x: len(x))-1
test["labels_count"] = test["labels"].str.split(' ').apply(lambda x: len(x))-1

test["num_chars_count"] = test["text"]
test["num_chars_count"] =  test["num_chars_count"].str.lower()
test["num_chars_count"] = test["num_chars_count"].apply(lambda x: re.sub(r'[a-z]','',x))
test["num_chars_count"] = test["num_chars_count"].apply(lambda x: re.sub(r'[^\w]','',x))
test["num_chars_count"] = test["num_chars_count"].str.strip()
test["num_chars_count"] = test["num_chars_count"].str.len()

test["links_count"] = test['text'].apply(lambda x: len([w for w in str(x).lower().split()
                                                           if 'http' in w or 'https' in w]))

test["clean_text"] = test["text"].apply(lambda x: cleaning_text(x))

test["text"] = test["text"].str.lower()
test["text"] = test["text"].apply(lambda x: re.sub('(?P<url>https?://[^\s]+)', ' ', x))
test["text"] = test["text"].apply(lambda x: re.sub(r'[^\w]', ' ', x))
test["text"] = test["text"].apply(lambda x: re.sub(r'_', ' ', x))
test["text"] = test["text"].apply(lambda x: re.sub(r'[0-9]',' ', x))
test["text"] = test["text"].apply(lambda x: re.sub(' +',' ', x))
test["text"] = test["text"].apply(lambda x: unidecode.unidecode(x))
test["text"] = test["text"].str.strip()
test["text_length"] = test["text"].str.len()

test["mean_word_length"] = test['text'].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
test["vowels_count"] = test["text"].apply(lambda x: count_vowels(x))
test["short_words_count"] = test["text"].apply(lambda x: count_short_words(x))
test["stopwords_count"] = test["text"].apply(lambda x: count_stopwords(x))
test["text"] = test["text"].apply(lambda x: re.sub(r'\b\w{1}\b', '', x))
test["words_count"] = test["text"].str.split(' ').apply(lambda x: len(x))

test["keyword"] = test["keyword"].str.replace('%20',' ')
test["keyword"] = test["keyword"].astype('category')

test.rename(columns={"location":"location_original"}, inplace=True)
test.rename(columns={"id":"id_original"}, inplace=True)
test.rename(columns={"text":"text_original"}, inplace=True)
test.rename(columns={"keyword":"keyword_original"}, inplace=True)

test.head()

,id_original,keyword_original,location_original,text_original,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,links_count,clean_text,text_length,mean_word_length,vowels_count,short_words_count,stopwords_count,words_count
0,0,NaN,NaN,just happened terrible car crash,0,,,0,0,0,0,happened terrible car crash,34,4.833333,10,2,2,6
1,2,NaN,NaN,heard about earthquake is different cities sta...,3,#earthquake,,1,0,0,0,heard earthquake different cities stay safe ev...,61,5.888889,24,1,2,9
2,3,NaN,NaN,there is forest fire at spot pond geese are f...,2,,,0,0,0,0,forest fire spot pond geese fleeing across str...,94,4.000000,31,7,9,19
3,9,NaN,NaN,apocalypse lighting spokane wildfires,3,#spokane #wildfires,,2,0,0,0,apocalypse lighting spokane wildfires,37,8.500000,12,0,0,4
4,11,NaN,NaN,typhoon soudelor kills in china and taiwan,0,,,0,0,2,0,typhoon soudelor kills china taiwan,42,5.142857,14,2,2,7

### One Hot Encoding

In [7]:
dummies_train = pd.get_dummies(train["keyword_original"], prefix="keyword")
dummies_test = pd.get_dummies(test["keyword_original"], prefix="keyword")

print(dummies_train.shape)
print(dummies_test.shape)

(7613, 221)
(3263, 221)

In [8]:
train_ohe = pd.concat([train,dummies_train], axis="columns")
train_ohe.head()

,id_original,keyword_original,location_original,text_original,target_label,special_chars_count,hashtags,labels,hashtags_count,labels_count,...,keyword_weapons,keyword_whirlwind,keyword_wild fires,keyword_wildfire,keyword_windstorm,keyword_wounded,keyword_wounds,keyword_wreck,keyword_wreckage,keyword_wrecked
0,1,NaN,NaN,our deeds are the reason of this earthquake ma...,1,1,#earthquake,,1,0,...,0,0,0,0,0,0,0,0,0,0
1,4,NaN,NaN,forest fire near la ronge sask canada,1,1,,,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,NaN,NaN,all residents asked to shelter in place are be...,1,3,,,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,NaN,NaN,people receive wildfires evacuation orders in ...,1,2,#wildfires,,1,0,...,0,0,0,0,0,0,0,0,0,0
4,7,NaN,NaN,just got sent this photo from ruby alaska as s...,1,2,#alaska #wildfires,,2,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
test_ohe = pd.concat([test,dummies_test], axis="columns")
test_ohe.head()

,id_original,keyword_original,location_original,text_original,special_chars_count,hashtags,labels,hashtags_count,labels_count,num_chars_count,...,keyword_weapons,keyword_whirlwind,keyword_wild fires,keyword_wildfire,keyword_windstorm,keyword_wounded,keyword_wounds,keyword_wreck,keyword_wreckage,keyword_wrecked
0,0,NaN,NaN,just happened terrible car crash,0,,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,NaN,NaN,heard about earthquake is different cities sta...,3,#earthquake,,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,NaN,NaN,there is forest fire at spot pond geese are f...,2,,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,NaN,NaN,apocalypse lighting spokane wildfires,3,#spokane #wildfires,,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,NaN,NaN,typhoon soudelor kills in china and taiwan,0,,,0,0,2,...,0,0,0,0,0,0,0,0,0,0

### Bag of words

In [12]:
vectorizer = CountVectorizer(stop_words='english', binary=True)
vectorizer.fit(train["clean_text"])

vec_train = vectorizer.fit_transform(train["clean_text"])
feature_words = vectorizer.get_feature_names()
print(len(feature_words))
df_bow_train = pd.DataFrame(vec_train.toarray(), columns=feature_words)
df_bow_train.head()

14190

,aa,aaa,aaaand,aaalll,aaarrrgghhh,aaemiddleaged,aal,aan,aannnd,aar,...,zones,zonewolf,zoom,zotar,zouma,zrnf,zss,zumiez,zurich,zzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
vec_test = vectorizer.transform(test["clean_text"])
df_bow_test = pd.DataFrame(vec_test.toarray(), columns=feature_words)
df_bow_test.head()

,aa,aaa,aaaand,aaalll,aaarrrgghhh,aaemiddleaged,aal,aan,aannnd,aar,...,zones,zonewolf,zoom,zotar,zouma,zrnf,zss,zumiez,zurich,zzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_filter_train = df_bow_train.loc[:,(df_bow_train.sum()>1)]
print(df_filter_train.shape)
df_filter_train.columns

(7613, 5925)

Index(['aa', 'aba', 'abandon', 'abandoned', 'abbott', 'abbswinston', 'abc',
       'abcnews', 'abe', 'abia',
       ...
       'zero', 'zimbabwe', 'zionism', 'zionist', 'zippednews', 'zombie',
       'zone', 'zones', 'zouma', 'zss'],
      dtype='object', length=5925)

In [17]:
filter_list = df_filter_train.columns.tolist()
df_filter_test = df_bow_test.filter(items=filter_list)
print(df_filter_test.shape)
df_filter_test.columns

(3263, 5925)

Index(['aa', 'aba', 'abandon', 'abandoned', 'abbott', 'abbswinston', 'abc',
       'abcnews', 'abe', 'abia',
       ...
       'zero', 'zimbabwe', 'zionism', 'zionist', 'zippednews', 'zombie',
       'zone', 'zones', 'zouma', 'zss'],
      dtype='object', length=5925)

In [18]:
train_final = pd.concat([train_ohe, df_filter_train], axis="columns")
train_final.shape

(7613, 6165)

In [19]:
test_final = pd.concat([test_ohe, df_filter_test], axis="columns")
test_final.shape

(3263, 6164)

In [52]:
X = train_final.drop(["id_original","keyword_original","location_original","text_original","target_label","hashtags","labels","clean_text"], axis=1)
y = train_final["target_label"]

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=100)

In [41]:
# realizamos el proceso de normalizacion
# scaler = StandardScaler()
# scaler.fit(X_train)
# X_train = scaler.transform(X_train)
# X_test = scaler.transform(X_test)

In [54]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(5709, 6157)
(5709,)
(1904, 6157)
(1904,)

In [55]:
model = MLPClassifier(hidden_layer_sizes=(11,8,8), max_iter=200, verbose=False)
model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(11, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [56]:
y_test_hat = model.predict(X_test)
print("Accuracy score: %f" % (accuracy_score(y_test, y_test_hat)))

Accuracy score: 0.750000

In [57]:
print(confusion_matrix(y_test, y_test_hat))
print(classification_report(y_test, y_test_hat))

[[837 272]
 [204 591]]
              precision    recall  f1-score   support

           0       0.80      0.75      0.78      1109
           1       0.68      0.74      0.71       795

    accuracy                           0.75      1904
   macro avg       0.74      0.75      0.75      1904
weighted avg       0.75      0.75      0.75      1904

In [58]:
X_train = train_final.drop(["id_original","keyword_original","location_original","text_original","target_label","hashtags","labels","clean_text"], axis=1)
X_test = test_final.drop(["id_original","keyword_original","location_original","text_original","hashtags","labels","clean_text"], axis=1)
y_train = train_final["target_label"]

In [59]:
model = MLPClassifier(hidden_layer_sizes=(8,8,8), max_iter=200, verbose=False)
model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [60]:
y_pred = model.predict(X_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [61]:
test["target"] = y_pred
test[["id_original","target"]]

      id_original  target
0               0       1
1               2       1
2               3       1
3               9       1
4              11       1
...           ...     ...
3258        10861       1
3259        10865       1
3260        10868       1
3261        10874       1
3262        10875       1

[3263 rows x 2 columns]

In [62]:
test["target"].value_counts()

0    1874
1    1389
Name: target, dtype: int64

In [63]:
test[["id_original","target"]].rename(columns={"id_original":"id"}).to_csv("../data/pred8_mlp", index=False)

In [34]:
#Usando cross-validation
kfold = KFold(n_splits=4, random_state=100)
resultados = cross_val_score(model, X_train, y_train, cv=kfold)
print("Accuracy: %f" % (resultados.mean()))

Iteration 1, loss = 0.68017938
Iteration 2, loss = 0.64869732
Iteration 3, loss = 0.63111697
Iteration 4, loss = 0.61367568
Iteration 5, loss = 0.59800798
Iteration 6, loss = 0.58336898
Iteration 7, loss = 0.56480688
Iteration 8, loss = 0.54662986
Iteration 9, loss = 0.52144948
Iteration 10, loss = 0.48517467
Iteration 11, loss = 0.44201914
Iteration 12, loss = 0.40609249
Iteration 13, loss = 0.37397019
Iteration 14, loss = 0.36082686
Iteration 15, loss = 0.33897823
Iteration 16, loss = 0.33132499
Iteration 17, loss = 0.31530159
Iteration 18, loss = 0.30377969
Iteration 19, loss = 0.29187009
Iteration 20, loss = 0.28589358
Iteration 21, loss = 0.27793663
Iteration 22, loss = 0.26650746
Iteration 23, loss = 0.26355810
Iteration 24, loss = 0.25343405
Iteration 25, loss = 0.24321688
Iteration 26, loss = 0.24710123
Iteration 27, loss = 0.23783281
Iteration 28, loss = 0.22898358
Iteration 29, loss = 0.22265719
Iteration 30, loss = 0.22093797
Iteration 31, loss = 0.21377636
Iteration 32, loss = 0.21037360
Iteration 33, loss = 0.20805290
Iteration 34, loss = 0.20049948
Iteration 35, loss = 0.19508965
Iteration 36, loss = 0.19424828
Iteration 37, loss = 0.19156678
Iteration 38, loss = 0.19013683
Iteration 39, loss = 0.18870557
Iteration 40, loss = 0.20080494
Iteration 41, loss = 0.18456020
Iteration 42, loss = 0.17095736
Iteration 43, loss = 0.16701170
Iteration 44, loss = 0.17089506
Iteration 45, loss = 0.16308206
Iteration 46, loss = 0.16729979
Iteration 47, loss = 0.16375329
Iteration 48, loss = 0.16434862
Iteration 49, loss = 0.15597649
Iteration 50, loss = 0.14981908
Iteration 51, loss = 0.15040048
Iteration 52, loss = 0.14249723
Iteration 53, loss = 0.14096605
Iteration 54, loss = 0.14113447
Iteration 55, loss = 0.13596767
Iteration 56, loss = 0.13306026
Iteration 57, loss = 0.13630159
Iteration 58, loss = 0.13160662
Iteration 59, loss = 0.12821929
Iteration 60, loss = 0.12686896
Iteration 61, loss = 0.12458716
Iteration 62, loss = 0.12908149
Iteration 63, loss = 0.11915262
Iteration 64, loss = 0.11888697
Iteration 65, loss = 0.11963778
Iteration 66, loss = 0.11659493
Iteration 67, loss = 0.12432706
Iteration 68, loss = 0.12107115
Iteration 69, loss = 0.11564864
Iteration 70, loss = 0.11534961
Iteration 71, loss = 0.10809696
Iteration 72, loss = 0.10606626
Iteration 73, loss = 0.10431295
Iteration 74, loss = 0.10236169
Iteration 75, loss = 0.10495806
Iteration 76, loss = 0.10443960
Iteration 77, loss = 0.10129626
Iteration 78, loss = 0.10613459
Iteration 79, loss = 0.09987130
Iteration 80, loss = 0.09586406
Iteration 81, loss = 0.09443272
Iteration 82, loss = 0.09328913
Iteration 83, loss = 0.09289703
Iteration 84, loss = 0.09471446
Iteration 85, loss = 0.09351300
Iteration 86, loss = 0.09095730
Iteration 87, loss = 0.08790736
Iteration 88, loss = 0.08855361
Iteration 89, loss = 0.08675078
Iteration 90, loss = 0.08547015
Iteration 91, loss = 0.09078020
Iteration 92, loss = 0.09282171
Iteration 93, loss = 0.09669348
Iteration 94, loss = 0.09479423
Iteration 95, loss = 0.08347161
Iteration 96, loss = 0.08165765
Iteration 97, loss = 0.08063430
Iteration 98, loss = 0.08075778
Iteration 99, loss = 0.09843534
Iteration 100, loss = 0.08371054
Iteration 101, loss = 0.07727966
Iteration 102, loss = 0.08002775
Iteration 103, loss = 0.08663405
Iteration 104, loss = 0.07973441
Iteration 105, loss = 0.07322949
Iteration 106, loss = 0.07448313
Iteration 107, loss = 0.07469262
Iteration 108, loss = 0.08581979
Iteration 109, loss = 0.07996377
Iteration 110, loss = 0.07833690
Iteration 111, loss = 0.08813864
Iteration 112, loss = 0.07447444
Iteration 113, loss = 0.07357607
Iteration 114, loss = 0.07091782
Iteration 115, loss = 0.06904946
Iteration 116, loss = 0.07167963
Iteration 117, loss = 0.06933374
Iteration 118, loss = 0.07392324
Iteration 119, loss = 0.07831921
Iteration 120, loss = 0.07776329
Iteration 121, loss = 0.07272391
Iteration 122, loss = 0.06861602
Iteration 123, loss = 0.07843074
Iteration 124, loss = 0.06756332
Iteration 125, loss = 0.06476044
Iteration 126, loss = 0.06338576
Iteration 127, loss = 0.07017498
Iteration 128, loss = 0.07227134
Iteration 129, loss = 0.06420654
Iteration 130, loss = 0.06350475
Iteration 131, loss = 0.06366629
Iteration 132, loss = 0.06445780
Iteration 133, loss = 0.06229163
Iteration 134, loss = 0.07153943
Iteration 135, loss = 0.06336305
Iteration 136, loss = 0.06346105
Iteration 137, loss = 0.06349427
Iteration 138, loss = 0.07049394
Iteration 139, loss = 0.06087469
Iteration 140, loss = 0.06074973
Iteration 141, loss = 0.06354319
Iteration 142, loss = 0.06515517
Iteration 143, loss = 0.07648779
Iteration 144, loss = 0.07609880
Iteration 145, loss = 0.06006063
Iteration 146, loss = 0.06523074
Iteration 147, loss = 0.06758783
Iteration 148, loss = 0.06488406
Iteration 149, loss = 0.05786195
Iteration 150, loss = 0.06253095
Iteration 151, loss = 0.06118236
Iteration 152, loss = 0.05659744
Iteration 153, loss = 0.05708391
Iteration 154, loss = 0.06357965
Iteration 155, loss = 0.05995087
Iteration 156, loss = 0.05719361
Iteration 157, loss = 0.06813971
Iteration 158, loss = 0.07425337
Iteration 159, loss = 0.05660702
Iteration 160, loss = 0.05933066
Iteration 161, loss = 0.05635944
Iteration 162, loss = 0.05800594
Iteration 163, loss = 0.05381372
Iteration 164, loss = 0.05850149
Iteration 165, loss = 0.08272251
Iteration 166, loss = 0.07052772
Iteration 167, loss = 0.05665931
Iteration 168, loss = 0.05360769
Iteration 169, loss = 0.06210886
Iteration 170, loss = 0.05809693
Iteration 171, loss = 0.06532756
Iteration 172, loss = 0.05708951
Iteration 173, loss = 0.05226970
Iteration 174, loss = 0.04881468
Iteration 175, loss = 0.05817432
Iteration 176, loss = 0.05177105
Iteration 177, loss = 0.05048385
Iteration 178, loss = 0.05479145
Iteration 179, loss = 0.06158356
Iteration 180, loss = 0.06224026
Iteration 181, loss = 0.05049323
Iteration 182, loss = 0.06373384
Iteration 183, loss = 0.07905546
Iteration 184, loss = 0.05506212
Iteration 185, loss = 0.05367039
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 1, loss = 0.74695952
Iteration 2, loss = 0.72631360
Iteration 3, loss = 0.70842053
Iteration 4, loss = 0.69161681
Iteration 5, loss = 0.67722672
Iteration 6, loss = 0.65964292
Iteration 7, loss = 0.63897345
Iteration 8, loss = 0.59116566
Iteration 9, loss = 0.54461620
Iteration 10, loss = 0.50444764
Iteration 11, loss = 0.46955424
Iteration 12, loss = 0.43989820
Iteration 13, loss = 0.40993913
Iteration 14, loss = 0.38859859
Iteration 15, loss = 0.36894230
Iteration 16, loss = 0.37014634
Iteration 17, loss = 0.33930776
Iteration 18, loss = 0.32977585
Iteration 19, loss = 0.31699382
Iteration 20, loss = 0.31144234
Iteration 21, loss = 0.30691970
Iteration 22, loss = 0.29447411
Iteration 23, loss = 0.29752547
Iteration 24, loss = 0.27945152
Iteration 25, loss = 0.27775001
Iteration 26, loss = 0.28166576
Iteration 27, loss = 0.26746731
Iteration 28, loss = 0.26467529
Iteration 29, loss = 0.25433756
Iteration 30, loss = 0.24902523
Iteration 31, loss = 0.25018553
Iteration 32, loss = 0.25259036
Iteration 33, loss = 0.24038866
Iteration 34, loss = 0.23434361
Iteration 35, loss = 0.22939125
Iteration 36, loss = 0.22599970
Iteration 37, loss = 0.22316808
Iteration 38, loss = 0.21926455
Iteration 39, loss = 0.21836355
Iteration 40, loss = 0.21409941
Iteration 41, loss = 0.20935915
Iteration 42, loss = 0.20793134
Iteration 43, loss = 0.20777706
Iteration 44, loss = 0.21147896
Iteration 45, loss = 0.20528113
Iteration 46, loss = 0.19845552
Iteration 47, loss = 0.19679636
Iteration 48, loss = 0.19544801
Iteration 49, loss = 0.19010558
Iteration 50, loss = 0.18897131
Iteration 51, loss = 0.18558895
Iteration 52, loss = 0.18268127
Iteration 53, loss = 0.17953000
Iteration 54, loss = 0.17845441
Iteration 55, loss = 0.17752256
Iteration 56, loss = 0.18012368
Iteration 57, loss = 0.17509198
Iteration 58, loss = 0.17220806
Iteration 59, loss = 0.16773819
Iteration 60, loss = 0.16920122
Iteration 61, loss = 0.16549550
Iteration 62, loss = 0.16550364
Iteration 63, loss = 0.16776947
Iteration 64, loss = 0.16248971
Iteration 65, loss = 0.16291850
Iteration 66, loss = 0.16083856
Iteration 67, loss = 0.16625268

Iteration 68, loss = 0.16451142
Iteration 69, loss = 0.15364535
Iteration 70, loss = 0.15640925
Iteration 71, loss = 0.15140858
Iteration 72, loss = 0.15024452
Iteration 73, loss = 0.15137783
Iteration 74, loss = 0.14872146
Iteration 75, loss = 0.14927273
Iteration 76, loss = 0.14491130
Iteration 77, loss = 0.14639026
Iteration 78, loss = 0.14532588
Iteration 79, loss = 0.14034647
Iteration 80, loss = 0.13964111
Iteration 81, loss = 0.14738484
Iteration 82, loss = 0.14758227
Iteration 83, loss = 0.14001116
Iteration 84, loss = 0.13560352
Iteration 85, loss = 0.13784447
Iteration 86, loss = 0.13406364
Iteration 87, loss = 0.13290647
Iteration 88, loss = 0.13595089
Iteration 89, loss = 0.13172410
Iteration 90, loss = 0.13084263
Iteration 91, loss = 0.13086295
Iteration 92, loss = 0.12934963
Iteration 93, loss = 0.12657691
Iteration 94, loss = 0.13246082
Iteration 95, loss = 0.12623902
Iteration 96, loss = 0.12924415
Iteration 97, loss = 0.12415958
Iteration 98, loss = 0.12298567
Iteration 99, loss = 0.12987837
Iteration 100, loss = 0.14173578
Iteration 101, loss = 0.12447727
Iteration 102, loss = 0.12239772
Iteration 103, loss = 0.12490067
Iteration 104, loss = 0.11715098
Iteration 105, loss = 0.12069146
Iteration 106, loss = 0.12099401
Iteration 107, loss = 0.11586697
Iteration 108, loss = 0.11765624
Iteration 109, loss = 0.12079504
Iteration 110, loss = 0.11640674
Iteration 111, loss = 0.11423226
Iteration 112, loss = 0.11886071
Iteration 113, loss = 0.11153634
Iteration 114, loss = 0.11692141
Iteration 115, loss = 0.11794756
Iteration 116, loss = 0.11269302
Iteration 117, loss = 0.11587963
Iteration 118, loss = 0.11883962
Iteration 119, loss = 0.10959468
Iteration 120, loss = 0.11034683
Iteration 121, loss = 0.11795150
Iteration 122, loss = 0.11269804
Iteration 123, loss = 0.11126720
Iteration 124, loss = 0.10530369
Iteration 125, loss = 0.10966691
Iteration 126, loss = 0.11499850
Iteration 127, loss = 0.11574117
Iteration 128, loss = 0.11413448
Iteration 129, loss = 0.10492433
Iteration 130, loss = 0.10365169
Iteration 131, loss = 0.10329431
Iteration 132, loss = 0.10257342
Iteration 133, loss = 0.10390361
Iteration 134, loss = 0.10295146
Iteration 135, loss = 0.10447999
Iteration 136, loss = 0.10603358
Iteration 137, loss = 0.09986039
Iteration 138, loss = 0.09850640
Iteration 139, loss = 0.10074013
Iteration 140, loss = 0.09744630
Iteration 141, loss = 0.09706855
Iteration 142, loss = 0.09815109
Iteration 143, loss = 0.10866835
Iteration 144, loss = 0.10162128
Iteration 145, loss = 0.10183371
Iteration 146, loss = 0.09941543
Iteration 147, loss = 0.09529018
Iteration 148, loss = 0.09397089
Iteration 149, loss = 0.09321063
Iteration 150, loss = 0.09363649
Iteration 151, loss = 0.09469676
Iteration 152, loss = 0.09904860
Iteration 153, loss = 0.09887290
Iteration 154, loss = 0.09734317
Iteration 155, loss = 0.09446544
Iteration 156, loss = 0.10054950
Iteration 157, loss = 0.09880075
Iteration 158, loss = 0.09790282
Iteration 159, loss = 0.09456661
Iteration 160, loss = 0.09497235
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 1, loss = 1.63811757
Iteration 2, loss = 0.79757238
Iteration 3, loss = 0.74304177
Iteration 4, loss = 0.71092383
Iteration 5, loss = 0.69095097
Iteration 6, loss = 0.67989601
Iteration 7, loss = 0.67509658
Iteration 8, loss = 0.66828961
Iteration 9, loss = 0.64963430
Iteration 10, loss = 0.62790354
Iteration 11, loss = 0.60354662
Iteration 12, loss = 0.57741426
Iteration 13, loss = 0.54652403
Iteration 14, loss = 0.51161109
Iteration 15, loss = 0.48068974
Iteration 16, loss = 0.45484876
Iteration 17, loss = 0.42548731
Iteration 18, loss = 0.40398864
Iteration 19, loss = 0.38399138
Iteration 20, loss = 0.36454221
Iteration 21, loss = 0.34424604
Iteration 22, loss = 0.33924462
Iteration 23, loss = 0.32133518
Iteration 24, loss = 0.30887473
Iteration 25, loss = 0.30091667
Iteration 26, loss = 0.29523422
Iteration 27, loss = 0.28946786
Iteration 28, loss = 0.27978174
Iteration 29, loss = 0.27315046
Iteration 30, loss = 0.26841998
Iteration 31, loss = 0.27311372
Iteration 32, loss = 0.26622145
Iteration 33, loss = 0.25639852
Iteration 34, loss = 0.25035067
Iteration 35, loss = 0.24730890
Iteration 36, loss = 0.24191204
Iteration 37, loss = 0.23666787
Iteration 38, loss = 0.23249908
Iteration 39, loss = 0.23164248
Iteration 40, loss = 0.22746128
Iteration 41, loss = 0.22478022
Iteration 42, loss = 0.22336543
Iteration 43, loss = 0.22391940
Iteration 44, loss = 0.21627269
Iteration 45, loss = 0.21808003
Iteration 46, loss = 0.20898006
Iteration 47, loss = 0.21180431
Iteration 48, loss = 0.20599589
Iteration 49, loss = 0.20314702
Iteration 50, loss = 0.20329562
Iteration 51, loss = 0.20372561
Iteration 52, loss = 0.19811448
Iteration 53, loss = 0.19686979
Iteration 54, loss = 0.20915263
Iteration 55, loss = 0.20617758
Iteration 56, loss = 0.19186945
Iteration 57, loss = 0.19110418
Iteration 58, loss = 0.18789784
Iteration 59, loss = 0.18341467
Iteration 60, loss = 0.18540617
Iteration 61, loss = 0.18252586
Iteration 62, loss = 0.17867052
Iteration 63, loss = 0.17663728
Iteration 64, loss = 0.18277658
Iteration 65, loss = 0.18675588
Iteration 66, loss = 0.17481269
Iteration 67, loss = 0.17625127
Iteration 68, loss = 0.17061603
Iteration 69, loss = 0.16894030
Iteration 70, loss = 0.17182286
Iteration 71, loss = 0.16586937
Iteration 72, loss = 0.16564744
Iteration 73, loss = 0.16273581
Iteration 74, loss = 0.16408910
Iteration 75, loss = 0.16234813
Iteration 76, loss = 0.16107446
Iteration 77, loss = 0.15919454
Iteration 78, loss = 0.15767234
Iteration 79, loss = 0.15489329
Iteration 80, loss = 0.15427357
Iteration 81, loss = 0.15205406
Iteration 82, loss = 0.15304848
Iteration 83, loss = 0.15475454
Iteration 84, loss = 0.16017479
Iteration 85, loss = 0.15958631
Iteration 86, loss = 0.15690531
Iteration 87, loss = 0.15002000
Iteration 88, loss = 0.14805242
Iteration 89, loss = 0.14726268
Iteration 90, loss = 0.14831331
Iteration 91, loss = 0.14816092
Iteration 92, loss = 0.14611533
Iteration 93, loss = 0.15603508
Iteration 94, loss = 0.15057411
Iteration 95, loss = 0.14374887
Iteration 96, loss = 0.13960002
Iteration 97, loss = 0.14752597
Iteration 98, loss = 0.14200194
Iteration 99, loss = 0.13751864
Iteration 100, loss = 0.14045150
Iteration 101, loss = 0.13843836
Iteration 102, loss = 0.13648245
Iteration 103, loss = 0.13484996
Iteration 104, loss = 0.13729689
Iteration 105, loss = 0.13883903
Iteration 106, loss = 0.13574013
Iteration 107, loss = 0.14425038
Iteration 108, loss = 0.13495579
Iteration 109, loss = 0.13494660
Iteration 110, loss = 0.13508032
Iteration 111, loss = 0.13774082
Iteration 112, loss = 0.13129487
Iteration 113, loss = 0.12804705
Iteration 114, loss = 0.13212330
Iteration 115, loss = 0.12969179
Iteration 116, loss = 0.12701302
Iteration 117, loss = 0.12792261
Iteration 118, loss = 0.13205791
Iteration 119, loss = 0.12723640
Iteration 120, loss = 0.12551306
Iteration 121, loss = 0.12420250
Iteration 122, loss = 0.12259158
Iteration 123, loss = 0.12102860
Iteration 124, loss = 0.12361415
Iteration 125, loss = 0.12153862
Iteration 126, loss = 0.12279798
Iteration 127, loss = 0.12190264
Iteration 128, loss = 0.12204897
Iteration 129, loss = 0.11982492
Iteration 130, loss = 0.13659529
Iteration 131, loss = 0.12696619
Iteration 132, loss = 0.12517269
Iteration 133, loss = 0.12612817
Iteration 134, loss = 0.12017139
Iteration 135, loss = 0.12525926
Iteration 136, loss = 0.14870037
Iteration 137, loss = 0.12989144
Iteration 138, loss = 0.11694758
Iteration 139, loss = 0.11913902
Iteration 140, loss = 0.11749651
Iteration 141, loss = 0.11470428
Iteration 142, loss = 0.11863580
Iteration 143, loss = 0.11752503
Iteration 144, loss = 0.11379350
Iteration 145, loss = 0.11846597
Iteration 146, loss = 0.11374968
Iteration 147, loss = 0.11375550
Iteration 148, loss = 0.11124690
Iteration 149, loss = 0.11539982
Iteration 150, loss = 0.11230660
Iteration 151, loss = 0.11359519
Iteration 152, loss = 0.11272232
Iteration 153, loss = 0.11052443
Iteration 154, loss = 0.11051986
Iteration 155, loss = 0.11557276
Iteration 156, loss = 0.11587611
Iteration 157, loss = 0.10986824

Iteration 158, loss = 0.10671596
Iteration 159, loss = 0.10691577
Iteration 160, loss = 0.10913147
Iteration 161, loss = 0.10934316
Iteration 162, loss = 0.10855309
Iteration 163, loss = 0.11049674
Iteration 164, loss = 0.10632218
Iteration 165, loss = 0.10743631
Iteration 166, loss = 0.10277196
Iteration 167, loss = 0.10387427
Iteration 168, loss = 0.10999685
Iteration 169, loss = 0.10431276
Iteration 170, loss = 0.10909146
Iteration 171, loss = 0.10344405
Iteration 172, loss = 0.10343926
Iteration 173, loss = 0.10098122
Iteration 174, loss = 0.10423280
Iteration 175, loss = 0.10835080
Iteration 176, loss = 0.10125913
Iteration 177, loss = 0.10161629
Iteration 178, loss = 0.10700743
Iteration 179, loss = 0.10285424
Iteration 180, loss = 0.10557615
Iteration 181, loss = 0.11276372
Iteration 182, loss = 0.10916499
Iteration 183, loss = 0.10272746
Iteration 184, loss = 0.10278697
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Iteration 1, loss = 0.86921237
Iteration 2, loss = 0.71573011
Iteration 3, loss = 0.68406237
Iteration 4, loss = 0.67817796
Iteration 5, loss = 0.67641522
Iteration 6, loss = 0.67480950
Iteration 7, loss = 0.67273125
Iteration 8, loss = 0.66970590
Iteration 9, loss = 0.66486693
Iteration 10, loss = 0.65514362
Iteration 11, loss = 0.62975784
Iteration 12, loss = 0.59265493
Iteration 13, loss = 0.54932914
Iteration 14, loss = 0.51090465
Iteration 15, loss = 0.47718129
Iteration 16, loss = 0.44214267
Iteration 17, loss = 0.41232703
Iteration 18, loss = 0.38558848
Iteration 19, loss = 0.36132742
Iteration 20, loss = 0.34436660
Iteration 21, loss = 0.32593318
Iteration 22, loss = 0.31076672
Iteration 23, loss = 0.30276968
Iteration 24, loss = 0.29148078
Iteration 25, loss = 0.28310697
Iteration 26, loss = 0.27256327
Iteration 27, loss = 0.26748232
Iteration 28, loss = 0.25730933
Iteration 29, loss = 0.24827585
Iteration 30, loss = 0.24301355
Iteration 31, loss = 0.23786880
Iteration 32, loss = 0.23033682
Iteration 33, loss = 0.22310716
Iteration 34, loss = 0.22628601
Iteration 35, loss = 0.21748047
Iteration 36, loss = 0.21081322
Iteration 37, loss = 0.20740876
Iteration 38, loss = 0.20924898
Iteration 39, loss = 0.19901433
Iteration 40, loss = 0.19537418
Iteration 41, loss = 0.19349737
Iteration 42, loss = 0.19134194
Iteration 43, loss = 0.18823193
Iteration 44, loss = 0.18727689
Iteration 45, loss = 0.18450321
Iteration 46, loss = 0.18196088
Iteration 47, loss = 0.17876289
Iteration 48, loss = 0.17461598
Iteration 49, loss = 0.17864332
Iteration 50, loss = 0.19194427
Iteration 51, loss = 0.18868705
Iteration 52, loss = 0.16726464
Iteration 53, loss = 0.16525714
Iteration 54, loss = 0.16505487
Iteration 55, loss = 0.16076415
Iteration 56, loss = 0.15818247
Iteration 57, loss = 0.15542106
Iteration 58, loss = 0.16092007
Iteration 59, loss = 0.15260454
Iteration 60, loss = 0.15075233
Iteration 61, loss = 0.15164881
Iteration 62, loss = 0.15021596
Iteration 63, loss = 0.16573907
Iteration 64, loss = 0.14527253
Iteration 65, loss = 0.14064049
Iteration 66, loss = 0.14511167
Iteration 67, loss = 0.14199785
Iteration 68, loss = 0.14041831
Iteration 69, loss = 0.14298138
Iteration 70, loss = 0.15042365
Iteration 71, loss = 0.13407845
Iteration 72, loss = 0.13315091
Iteration 73, loss = 0.13048455
Iteration 74, loss = 0.13173398
Iteration 75, loss = 0.13977231
Iteration 76, loss = 0.13044481
Iteration 77, loss = 0.13349793
Iteration 78, loss = 0.13361801
Iteration 79, loss = 0.12958590
Iteration 80, loss = 0.12506979
Iteration 81, loss = 0.12177366
Iteration 82, loss = 0.12561988
Iteration 83, loss = 0.13290537
Iteration 84, loss = 0.12524202
Iteration 85, loss = 0.11912442
Iteration 86, loss = 0.11998502
Iteration 87, loss = 0.11841868
Iteration 88, loss = 0.11919214
Iteration 89, loss = 0.12821993
Iteration 90, loss = 0.11716591
Iteration 91, loss = 0.11799773
Iteration 92, loss = 0.11348166
Iteration 93, loss = 0.11278020
Iteration 94, loss = 0.10962665
Iteration 95, loss = 0.11329946
Iteration 96, loss = 0.13447586
Iteration 97, loss = 0.13431980
Iteration 98, loss = 0.11933896
Iteration 99, loss = 0.12044085
Iteration 100, loss = 0.11255528
Iteration 101, loss = 0.11381472
Iteration 102, loss = 0.10842389
Iteration 103, loss = 0.10436022
Iteration 104, loss = 0.11145386
Iteration 105, loss = 0.11591511
Iteration 106, loss = 0.10420682
Iteration 107, loss = 0.10105100
Iteration 108, loss = 0.10286260
Iteration 109, loss = 0.10196210
Iteration 110, loss = 0.10291581
Iteration 111, loss = 0.10354793
Iteration 112, loss = 0.10174280
Iteration 113, loss = 0.09755595
Iteration 114, loss = 0.09760797
Iteration 115, loss = 0.10129970
Iteration 116, loss = 0.11076047
Iteration 117, loss = 0.09610811
Iteration 118, loss = 0.09499719
Iteration 119, loss = 0.09297721
Iteration 120, loss = 0.09738915
Iteration 121, loss = 0.09258184
Iteration 122, loss = 0.09509125
Iteration 123, loss = 0.09032005
Iteration 124, loss = 0.09890826
Iteration 125, loss = 0.09669133
Iteration 126, loss = 0.09488454
Iteration 127, loss = 0.09331873
Iteration 128, loss = 0.09319675
Iteration 129, loss = 0.09264680
Iteration 130, loss = 0.08911144
Iteration 131, loss = 0.09005352
Iteration 132, loss = 0.08772863
Iteration 133, loss = 0.09092000
Iteration 134, loss = 0.08514515
Iteration 135, loss = 0.08431601
Iteration 136, loss = 0.08574222
Iteration 137, loss = 0.09602969
Iteration 138, loss = 0.09539830
Iteration 139, loss = 0.08436206
Iteration 140, loss = 0.08072976
Iteration 141, loss = 0.08123893
Iteration 142, loss = 0.08505087
Iteration 143, loss = 0.08202953
Iteration 144, loss = 0.07960841
Iteration 145, loss = 0.08596355
Iteration 146, loss = 0.08765780
Iteration 147, loss = 0.08274181
Iteration 148, loss = 0.08160691
Iteration 149, loss = 0.07896420
Iteration 150, loss = 0.07796416
Iteration 151, loss = 0.07610354
Iteration 152, loss = 0.07393420
Iteration 153, loss = 0.10282947
Iteration 154, loss = 0.09723795
Iteration 155, loss = 0.08363648
Iteration 156, loss = 0.07795123
Iteration 157, loss = 0.08024469
Iteration 158, loss = 0.07332926
Iteration 159, loss = 0.07910771
Iteration 160, loss = 0.07750618
Iteration 161, loss = 0.09331450
Iteration 162, loss = 0.07799660
Iteration 163, loss = 0.07852122
Iteration 164, loss = 0.07779601
Iteration 165, loss = 0.08216743
Iteration 166, loss = 0.10382682
Iteration 167, loss = 0.09648250
Iteration 168, loss = 0.07946792
Iteration 169, loss = 0.06904199
Iteration 170, loss = 0.07345472
Iteration 171, loss = 0.07065005
Iteration 172, loss = 0.07470788
Iteration 173, loss = 0.07544066
Iteration 174, loss = 0.06904048
Iteration 175, loss = 0.07113907
Iteration 176, loss = 0.07092829
Iteration 177, loss = 0.06880362
Iteration 178, loss = 0.06498579
Iteration 179, loss = 0.06614084
Iteration 180, loss = 0.06878379
Iteration 181, loss = 0.06703853
Iteration 182, loss = 0.07159054
Iteration 183, loss = 0.06852410
Iteration 184, loss = 0.06496115
Iteration 185, loss = 0.06777609
Iteration 186, loss = 0.08712037
Iteration 187, loss = 0.07915674
Iteration 188, loss = 0.06789359
Iteration 189, loss = 0.06946800
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Accuracy: 0.731361